body{

    margin: 0;
    padding: 0;
   
}

.header-nav{

    background-color: #FFF9E7;
}




.heilight-font{

    font-weight: 700;
}

.navbar-brand{
    font-weight: 700;
}

ul li{

    padding: 15px;
    margin-left: 20px;
}
.sl-color{
    color: #7A71D8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    font-weight: 700;
}
.protfolio{
    background-color: #e8e8e8;
   
}

