body {

    margin: 0;
    padding: 0;

}

.header-nav {

    background-color: #F16232;
}




.heilight-font {

    font-weight: 700;
}

.navbar-brand {
    font-weight: 700;
}

ul li {

    padding: 15px;
    margin-left: 20px;
    font-weight: 500;
}

.sl-color {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-weight: 700;
}

.protfolio {
    background-color: #F1F3F4;


}

.slider-section{

    margin-top: 67px;
}






.padding {
    padding: 5rem
}


.card{

    border: none;
}
.footer{

    background-color: #F16232;
    color: white;
  
}